# === =========================================================================
# === Core
# === =========================================================================

# --- Timekeepers Server (TKS)
SERVER_HOST="http://localhost"
SERVER_PORT=3001

# --- Core Web App (CWA)
FRONTEND_URL="http://localhost:3000"

# === =========================================================================
# === DB
# === =========================================================================

# --- MongoDB
# For a docker DB container, specify the db container service name as the DB_HOST instead of localhost or 127.0.0.1
# Use Mongosh to add the user to the database before connecting to the database through the URI directly
# use DB_NAME;
# db.createUser({user: "DB_USER_NAME", pwd: "DB_USER_PASSWORD", roles: [ { role: "readWrite", db: "DB_NAME" } ]});
#MONGODB_HOST="127.0.0.1"
#MONGODB_PORT="27017"
#MONGODB_DB="DB_NAME"
#MONGODB_USERNAME="DB_USER_NAME"
#MONGODB_PASSWORD="DB_USER_PASSWORD"
#MONGODB_URI="mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@${MONGODB_HOST}:${MONGODB_PORT}/${MONGODB_DB}"

# === =========================================================================
# === API / Integrations / Third Party
# === =========================================================================

# --- OpenAI
OPENAI_CHAT_MODEL="gpt-4o-mini"
OPENAI_API_KEY=YOUR_API_KEY

# --- Local AI Models
#USE_LOCAL_AI=false
#LOCAL_AI_BASE_URL="http://127.0.0.1:5000/v1"

# --- News API
NEWSAPI_API_KEY=

# --- Pinata
PINATA_JWT=

# --- Story Protocol
WALLET_PRIVATE_KEY=
RPC_PROVIDER_URL="https://odyssey.storyrpc.io"
NFT_CONTRACT_ADDRESS="0x041B4F29183317Fd352AE57e331154b73F8a1D73"
SPG_NFT_CONTRACT_ADDRESS="0xfE265a91dBe911db06999019228a678b86C04959"
CURRENCY_ADDRESS="0xC0F6E387aC0B324Ec18EAcf22EE7271207dCE3d5"

# === =========================================================================
# === Misc / Other
# === =========================================================================

# --- Crons
# The schedule has 6 parts, going from left to right: 'second minute hour day month day'
# To test out any cron more frequently locally, use one of the following schedules:
# Run every 15 seconds: '*/15 * * * * *'
# Run every 30 seconds: '*/30 * * * * *'
# Run at minute 1 of every hour: '* 1 * * * *'
TASK_MONITOR_CRON='0 */10 * * * *' # Second 0 of every 10th minute
SETUP_INIT_DATA=false
FETCH_NEWS_ARTICLES_CRON='15 1 */1 * * *' # Minute 1 of every hour
CATEGORISE_NEWS_ARTICLES_CRON='30 */10 * * * *' # Second 30 of every 10th minute
